<!DOCTYPE html>
<html>
  <head>
    <title>401 Page</title>
  </head>
  <body>
    {{ navbar | safe }}

    <center>
      <br>
      <br>
      <br>
      <h2>401 Unauthorized</h2>
      <br>
      <p id="message">You attempted to access a resource not available to you!</p>
    </center>

    <script>
      window.setTimeout(function() {
        // Set Redirect Message
        document.getElementById("message").innerHTML = "Redirecting to home page..."

        // Redirect To Homepage
        window.location.href = "/";
      }, 2500);
    </script>
  </body>
</html>
