<!-- This is a template for buy page-->
<!DOCTYPE html>
<html>

<!-- Title of the page-->
<head>
<title>Buy page</title>
</head>


<form method="POST" action="">
  <!-- area that let user enter the stock_id they want to buy-->
  <label for="stock_id">Stock_id:</label><br>
  <input type="text" name = "stock_id" id="stock_id"><br>


  <!-- area that let user enter the number of stocks they want to buy-->
  <label for="number">Number</label><br>
  <input type="text" name = "number" id="number"><br>
  <br>
  <br>

  <!--submit button-->
  <input type="submit" name = "buy" value="buy">
</form>
<table border = '3' style="width:60%">
  <tr>
    <th>Stock_id</th>
    <th>Stock name</th>
    <th>Price</th>
    <th>Share</th>
  </tr>
<tr>
<td>0</td><td>GONJN</td><td>317.39</td><td>13869</td></tr>
<tr>
<td>1</td><td>EZVKR</td><td>1840.83</td><td>19566</td></tr>
<tr>
<td>2</td><td>OQPKV</td><td>4086.6</td><td>15742</td></tr>
<tr>
<td>3</td><td>ZXDHW</td><td>3547.25</td><td>17975</td></tr>
<tr>
<td>4</td><td>FBQXZ</td><td>3341.33</td><td>10350</td></tr>
<tr>
<td>5</td><td>JXMRX</td><td>2447.89</td><td>14884</td></tr>
<tr>
<td>6</td><td>GMZNN</td><td>4623.01</td><td>9121</td></tr>
<tr>
<td>7</td><td>DHWFX</td><td>464.76</td><td>2278</td></tr>
<tr>
<td>8</td><td>YTOLO</td><td>360.19</td><td>1883</td></tr>
<tr>
<td>9</td><td>ZTHBE</td><td>1609.89</td><td>11942</td></tr>
<tr>
<td>10</td><td>UTMVI</td><td>249.69</td><td>15943</td></tr>
<tr>
<td>11</td><td>PSPAC</td><td>456.28</td><td>14362</td></tr>
<tr>
<td>12</td><td>JOGBI</td><td>1663.72</td><td>2520</td></tr>
<tr>
<td>13</td><td>DVZTY</td><td>829.94</td><td>4167</td></tr>
<tr>
<td>14</td><td>UJZRD</td><td>337.87</td><td>4626</td></tr>
<tr>
<td>15</td><td>SLISW</td><td>319.93</td><td>9736</td></tr>
<tr>
<td>16</td><td>UPTDU</td><td>858.57</td><td>15476</td></tr>
<tr>
<td>17</td><td>ZKWXD</td><td>63.93</td><td>10547</td></tr>
<tr>
<td>18</td><td>MHEQC</td><td>3854.31</td><td>8365</td></tr>
<tr>
<td>19</td><td>VMELV</td><td>1105.4</td><td>6103</td></tr>
<tr>
<td>20</td><td>GPICV</td><td>163.98</td><td>2443</td></tr>
<tr>
<td>21</td><td>BLSZP</td><td>439.17</td><td>8273</td></tr>
<tr>
<td>22</td><td>OJULR</td><td>1081.2</td><td>19260</td></tr>
<tr>
<td>23</td><td>BJPTJ</td><td>1758.61</td><td>9765</td></tr>
<tr>
<td>24</td><td>GPBYN</td><td>4546.98</td><td>16269</td></tr>
<tr>
<td>25</td><td>OLWBI</td><td>477.86</td><td>8302</td></tr>
<tr>
<td>26</td><td>VLPLD</td><td>4185.03</td><td>11606</td></tr>
<tr>
<td>27</td><td>LNOJO</td><td>3968.91</td><td>9446</td></tr>
<tr>
<td>28</td><td>XDNOF</td><td>4301.79</td><td>8303</td></tr>
<tr>
<td>29</td><td>GRACG</td><td>4171.16</td><td>10386</td></tr>
<tr>
<td>30</td><td>EHKAI</td><td>113.7</td><td>15647</td></tr>
<tr>
<td>31</td><td>UKKNB</td><td>223.25</td><td>10604</td></tr>
<tr>
<td>32</td><td>OKGNA</td><td>488.3</td><td>6761</td></tr>
<tr>
<td>33</td><td>SEGDI</td><td>136.85</td><td>11088</td></tr>
<tr>
<td>34</td><td>QKKMR</td><td>268.06</td><td>1788</td></tr>
<tr>
<td>35</td><td>ZQYCU</td><td>2183.51</td><td>5778</td></tr>
<tr>
<td>36</td><td>QZOUP</td><td>68.6</td><td>18592</td></tr>
<tr>
<td>37</td><td>DPUDK</td><td>4050.17</td><td>6864</td></tr>
<tr>
<td>38</td><td>KHGBL</td><td>1525.59</td><td>9347</td></tr>
<tr>
<td>39</td><td>JNJSQ</td><td>3135.99</td><td>13646</td></tr>
<tr>
<td>40</td><td>ZUXBM</td><td>1710.91</td><td>11403</td></tr>
<tr>
<td>41</td><td>POYLB</td><td>3654.7</td><td>7079</td></tr>
<tr>
<td>42</td><td>QFJYW</td><td>153.85</td><td>13021</td></tr>
<tr>
<td>43</td><td>QSPFH</td><td>3972.41</td><td>2240</td></tr>
<tr>
<td>44</td><td>BHGMD</td><td>870.14</td><td>14763</td></tr>
<tr>
<td>45</td><td>NCPJN</td><td>4909.01</td><td>582</td></tr>
<tr>
<td>46</td><td>AWDQV</td><td>3690.33</td><td>14440</td></tr>
<tr>
<td>47</td><td>YXYXR</td><td>691.67</td><td>1851</td></tr>
<tr>
<td>48</td><td>LDGYB</td><td>3298.4</td><td>1548</td></tr>
<tr>
<td>49</td><td>PDVWD</td><td>2903.37</td><td>19478</td></tr>
</table>
</html>