<!-- This is a template for buy page-->
<!DOCTYPE html>
<html>

<!-- Title of the page-->
<head>
<title>Buy page</title>
</head>


<form method="POST" action="">
  <!-- area that let user enter the stock_id they want to buy-->
  <label for="stock_id">Stock_id:</label><br>
  <input type="text" name = "stock_id" id="stock_id"><br>


  <!-- area that let user enter the number of stocks they want to buy-->
  <label for="number">Number</label><br>
  <input type="text" name = "number" id="number"><br>
  <br>
  <br>

  <!--submit button-->
  <input type="submit" name = "buy" value="buy">
</form>
<table border = '3' style="width:60%">
  <tr>
    <th>Stock_id</th>
    <th>Stock name</th>
    <th>Price</th>
    <th>Share</th>
  </tr>
<tr>
<td>0</td><td>MRGLA</td><td>3988.04</td><td>8826</td></tr>
<tr>
<td>1</td><td>VOOUE</td><td>2629.3</td><td>1331</td></tr>
<tr>
<td>2</td><td>CPTJM</td><td>2217.63</td><td>5906</td></tr>
<tr>
<td>3</td><td>UVLKN</td><td>2567.75</td><td>17437</td></tr>
<tr>
<td>4</td><td>NNEYL</td><td>1021.04</td><td>14800</td></tr>
<tr>
<td>5</td><td>CIGCY</td><td>1472.29</td><td>9804</td></tr>
<tr>
<td>6</td><td>DEQYU</td><td>633.23</td><td>819</td></tr>
<tr>
<td>7</td><td>KPQKX</td><td>180.88</td><td>3601</td></tr>
<tr>
<td>8</td><td>GGBQS</td><td>156.07</td><td>9025</td></tr>
<tr>
<td>9</td><td>SHPYK</td><td>4898.11</td><td>6233</td></tr>
<tr>
<td>10</td><td>RXZAB</td><td>1323.49</td><td>4827</td></tr>
<tr>
<td>11</td><td>BYASY</td><td>1685.75</td><td>4128</td></tr>
<tr>
<td>12</td><td>MDUTQ</td><td>2094.48</td><td>3621</td></tr>
<tr>
<td>13</td><td>BYVJN</td><td>445.31</td><td>10347</td></tr>
<tr>
<td>14</td><td>AFJCD</td><td>238.41</td><td>13748</td></tr>
<tr>
<td>15</td><td>ZIXDI</td><td>4413.76</td><td>2059</td></tr>
<tr>
<td>16</td><td>KUSVW</td><td>1716.73</td><td>10957</td></tr>
<tr>
<td>17</td><td>HODSM</td><td>879.91</td><td>18230</td></tr>
<tr>
<td>18</td><td>DVPEX</td><td>2867.65</td><td>19889</td></tr>
<tr>
<td>19</td><td>VOWKB</td><td>4020.05</td><td>18095</td></tr>
<tr>
<td>20</td><td>QUDQI</td><td>93.21</td><td>7556</td></tr>
<tr>
<td>21</td><td>GQLYV</td><td>150.24</td><td>18433</td></tr>
<tr>
<td>22</td><td>RNPLK</td><td>1272.49</td><td>8784</td></tr>
<tr>
<td>23</td><td>SBSUG</td><td>1966.56</td><td>19743</td></tr>
<tr>
<td>24</td><td>PGJHV</td><td>1097.58</td><td>11396</td></tr>
<tr>
<td>25</td><td>JLPAL</td><td>1542.71</td><td>8210</td></tr>
<tr>
<td>26</td><td>AIIVO</td><td>1183.59</td><td>19268</td></tr>
<tr>
<td>27</td><td>AXLOA</td><td>1263.36</td><td>5832</td></tr>
<tr>
<td>28</td><td>ISIAF</td><td>410.76</td><td>9783</td></tr>
<tr>
<td>29</td><td>NAOVJ</td><td>3676.93</td><td>13837</td></tr>
<tr>
<td>30</td><td>MXGGA</td><td>728.25</td><td>2147</td></tr>
<tr>
<td>31</td><td>RFJBL</td><td>454.64</td><td>14285</td></tr>
<tr>
<td>32</td><td>QTHUW</td><td>3032.25</td><td>15110</td></tr>
<tr>
<td>33</td><td>QDOTZ</td><td>25.74</td><td>6596</td></tr>
<tr>
<td>34</td><td>XVEDD</td><td>441.91</td><td>12967</td></tr>
<tr>
<td>35</td><td>PEETB</td><td>1031.61</td><td>19158</td></tr>
<tr>
<td>36</td><td>KDHPP</td><td>1025.83</td><td>2305</td></tr>
<tr>
<td>37</td><td>SPYHK</td><td>88.75</td><td>7627</td></tr>
<tr>
<td>38</td><td>AYOJL</td><td>4759.46</td><td>15131</td></tr>
<tr>
<td>39</td><td>UFHDN</td><td>4406.45</td><td>14968</td></tr>
<tr>
<td>40</td><td>PVBFE</td><td>461.97</td><td>13649</td></tr>
<tr>
<td>41</td><td>LNDJI</td><td>363.82</td><td>18729</td></tr>
<tr>
<td>42</td><td>AYVTU</td><td>152.48</td><td>5528</td></tr>
<tr>
<td>43</td><td>DEVPR</td><td>1729.21</td><td>5703</td></tr>
<tr>
<td>44</td><td>FBDCS</td><td>113.17</td><td>6355</td></tr>
<tr>
<td>45</td><td>PLTPV</td><td>1023.03</td><td>9608</td></tr>
<tr>
<td>46</td><td>ZBKNB</td><td>220.31</td><td>4987</td></tr>
<tr>
<td>47</td><td>ZFOSX</td><td>2094.32</td><td>19663</td></tr>
<tr>
<td>48</td><td>JXFRJ</td><td>354.56</td><td>6302</td></tr>
<tr>
<td>49</td><td>CDGZB</td><td>139.14</td><td>7743</td></tr>
</table>
</html>