<!-- This is a template for buy page-->
<!DOCTYPE html>
<html>

<!-- Title of the page-->
<head>
<title>Buy page</title>
</head>


<form method="POST" action="">
  <!-- area that let user enter the stock_id they want to buy-->
  <label for="stock_id">Stock_id:</label><br>
  <input type="text" name = "stock_id" id="stock_id"><br>


  <!-- area that let user enter the number of stocks they want to buy-->
  <label for="number">Number</label><br>
  <input type="text" name = "number" id="number"><br>
  <br>
  <br>

  <!--submit button-->
  <input type="submit" name = "buy" value="buy">
</form>
<table border = '3' style="width:60%">
  <tr>
    <th>Stock_id</th>
    <th>Stock name</th>
    <th>Price</th>
    <th>Share</th>
  </tr>
<tr>
<td>0</td><td>NWFFY</td><td>142.75</td><td>13011</td></tr>
<tr>
<td>1</td><td>UIWOC</td><td>272.56</td><td>15577</td></tr>
<tr>
<td>2</td><td>KTPOD</td><td>3027.98</td><td>19912</td></tr>
<tr>
<td>3</td><td>LOBYL</td><td>64.7</td><td>13930</td></tr>
<tr>
<td>4</td><td>LIMFO</td><td>436.99</td><td>9327</td></tr>
<tr>
<td>5</td><td>XHGPF</td><td>1595.8</td><td>3536</td></tr>
<tr>
<td>6</td><td>FSMDP</td><td>471.06</td><td>13874</td></tr>
<tr>
<td>7</td><td>HWSOA</td><td>319.52</td><td>9483</td></tr>
<tr>
<td>8</td><td>GVNUM</td><td>2718.75</td><td>10093</td></tr>
<tr>
<td>9</td><td>GFOVB</td><td>233.09</td><td>9829</td></tr>
<tr>
<td>10</td><td>MJNXN</td><td>1206.97</td><td>3868</td></tr>
<tr>
<td>11</td><td>PDWPP</td><td>64.67</td><td>10282</td></tr>
<tr>
<td>12</td><td>TMUQQ</td><td>561.32</td><td>14258</td></tr>
<tr>
<td>13</td><td>ANRDV</td><td>398.82</td><td>12248</td></tr>
<tr>
<td>14</td><td>IPJYS</td><td>821.6</td><td>8960</td></tr>
<tr>
<td>15</td><td>JXZUW</td><td>4069.59</td><td>19187</td></tr>
<tr>
<td>16</td><td>DPQZR</td><td>106.83</td><td>3426</td></tr>
<tr>
<td>17</td><td>XMYZF</td><td>3652.99</td><td>11584</td></tr>
<tr>
<td>18</td><td>FQWWX</td><td>434.77</td><td>3140</td></tr>
<tr>
<td>19</td><td>OREDM</td><td>1038.64</td><td>15573</td></tr>
<tr>
<td>20</td><td>DTUUM</td><td>3561.79</td><td>18110</td></tr>
<tr>
<td>21</td><td>UIAYR</td><td>120.46</td><td>10498</td></tr>
<tr>
<td>22</td><td>FZZAV</td><td>562.07</td><td>2339</td></tr>
<tr>
<td>23</td><td>HLOPO</td><td>568.31</td><td>17495</td></tr>
<tr>
<td>24</td><td>GRLBE</td><td>1397.01</td><td>12392</td></tr>
<tr>
<td>25</td><td>MKFJM</td><td>318.64</td><td>4779</td></tr>
<tr>
<td>26</td><td>IGRMD</td><td>2294.19</td><td>4057</td></tr>
<tr>
<td>27</td><td>NRYRB</td><td>2773.21</td><td>8110</td></tr>
<tr>
<td>28</td><td>DDIGW</td><td>3684.58</td><td>17561</td></tr>
<tr>
<td>29</td><td>SNJLH</td><td>4903.47</td><td>10977</td></tr>
<tr>
<td>30</td><td>DXZAC</td><td>4229.21</td><td>11253</td></tr>
<tr>
<td>31</td><td>HNXPD</td><td>1954.33</td><td>3749</td></tr>
<tr>
<td>32</td><td>LTLSX</td><td>2241.87</td><td>14963</td></tr>
<tr>
<td>33</td><td>BENPE</td><td>2486.75</td><td>1454</td></tr>
<tr>
<td>34</td><td>FZWBK</td><td>4537.75</td><td>13405</td></tr>
<tr>
<td>35</td><td>MCXWY</td><td>220.48</td><td>15709</td></tr>
<tr>
<td>36</td><td>QIBLS</td><td>464.48</td><td>1144</td></tr>
<tr>
<td>37</td><td>KJRXI</td><td>2399.83</td><td>93</td></tr>
<tr>
<td>38</td><td>PSBRM</td><td>2122.08</td><td>2788</td></tr>
<tr>
<td>39</td><td>KWZRB</td><td>2792.27</td><td>2099</td></tr>
<tr>
<td>40</td><td>KVZJY</td><td>1577.43</td><td>12438</td></tr>
<tr>
<td>41</td><td>EYQGB</td><td>349.99</td><td>8127</td></tr>
<tr>
<td>42</td><td>CHCYF</td><td>473.51</td><td>542</td></tr>
<tr>
<td>43</td><td>ZXTQY</td><td>3533.67</td><td>10520</td></tr>
<tr>
<td>44</td><td>JETFA</td><td>2493.96</td><td>19914</td></tr>
<tr>
<td>45</td><td>EKCUX</td><td>4051.4</td><td>19160</td></tr>
<tr>
<td>46</td><td>DLFNZ</td><td>213.2</td><td>7936</td></tr>
<tr>
<td>47</td><td>KJZMY</td><td>323.87</td><td>4605</td></tr>
<tr>
<td>48</td><td>QXEMO</td><td>2461.12</td><td>7642</td></tr>
<tr>
<td>49</td><td>OBZJM</td><td>3301.17</td><td>5844</td></tr>
</table>
</html>