<!-- This is HTML file for register page-->
<!DOCTYPE html>
<html>

<!-- Title of the page-->
<head>
<title>Join Group</title>
</head>

{{ navbar | safe }}

<center>
  <br>
  <form method="POST" action="">
    <label for="group_join">Group ID:</label><br>
    <input type="number" step="1" name = "group_id" id="group_id"><br><br>

    <label for="money_for_group">Group Deposit:</label><br>
    <input type="number" name = "enter_money" id="enter_money"><br>
    <br>
    <!--submit button-->
    <input type="submit" name = "register" value="Register">
    <br><br>
  </form>
</center>
