<!DOCTYPE html>
<html>
<body>
  {{ navbar | safe }}
  <title>Group Portfolio</title>
  <div>
    <center>
      <div>
        <br>
        <h1>Hello Group {{group_id}}!</h1>
        <center>
          <i>Current Balance:</i> ${{ balance }}</span>
          <span style="padding: 5px"></span>
          <i>Shares Owned:</i> {{ stocks_owned }}
        </center>
        <hr style="width:95%;">
        <h1>Your Group's Stocks</h1>
        <br>
        <div>
          <table border = '3' style="width:60%">
            <tr>
              <th>Stock ID</th>
              <th>Stock Name</th>
              <th>Stock Price</th>
              <th># of Shares</th>
            </tr>
            {% for stock_id, stock_name, stock_price, stock_shares in stock_data %}
            <tr>
              <th>{{stock_id}}</th>
              <th>{{stock_name}}</th>
              <th>{{stock_price}}</th>
              <th>{{stock_shares}}</th>
            </tr>
            {% endfor %}
          </table>
        </div>

        <hr style="width:95%;">
        <h1>Group Actions</h1>
        <br>
        <a href="{{ url_for('group_buy', group_id=group_id) }}"><button type="button" class="btn btn-danger">Buy</button></a>
        <a href="{{ url_for('group_sell', group_id=group_id) }}"><button type="button" class="btn btn-danger">Sell</button></a>
        <a href="{{ url_for('group_transactions', group_id=group_id) }}"><button type="button" class="btn btn-danger">Group Transactions</button></a>
        <hr style="width:95%;">
    </div>
    </center>
  </div>
</body>
