<!DOCTYPE html>
<html>
<head>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
  {{ navbar | safe }}

  <!-- add statistics like average price of sold share on the server -->
  <!-- add statistics like number of shares bought in the last hour -->
  <!-- add statistics like number of shares bought in the last day -->
  <!-- insert top two trending stock graphs here -->
  <!-- add number about total market -->

  <p>testing only</p>

  <form method="POST" action="">
    <input type="submit" name="search" value = "search"></input>
    <br>
    <br>

    <input type="submit" name = "buy" value="buy stock">
    <br>
    <br>
    <br>
    <input type="submit" name = "sell" value="sell stock">
    <br>
    <br>
    <br>
    <input type="submit" name = "register" value="register">
    <br>
    <br>
    <br>
    <input type="submit" name = "transactions" value="view stock transactions">
  </form>
</body>
</html>
