<!DOCTYPE html>
<html>
<head>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
  {{ navbar | safe }}

  <br>
  <center><h2>Market Info</h2></center>

  <center>
    <i>Stocks In Market:</i> {{ num_stocks }} |
    <i>Share Transactions Today: </i> {{ share_transaction_cnt }} |
    <i>Average Buy Price Today:</i> {{ avg_buy_price }} |
    <i>Average Sell Price Today:</i> {{ avg_sell_price }}
  </center>

  <hr style="width:95%;">
  <center><h2>Top Stocks</h2></center>

  <div id="Stocks"></div>

  <script>
    var layout = {
      title: 'Title of the Graph',
      xaxis: {
        title: 'time'
      },
      yaxis: {
        title: 'price (usd)'
      }
    };

    var stockGraph1 = {
      time: new Array(),
      price: {{ price_arr_1 }},
      type: 'scatter'
    };

    for (i in stockGraph1.price.length) {
      stockGraph1.time.push(i);
    }

    var stockGraph2 = {
      time: new Array(),
      price: {{ price_arr_2 }},
      type: 'scatter'
    };

    for (i in stockGraph2.price.length) {
      stockGraph2.time.push(i);
    }

    var data = [stockGraph1, stockGraph2];

    Plotly.newPlot("Stocks", stockGraph1, layout);
  </script>

  <hr style="width:95%;">
  <p>testing only</p>

  <form method="POST" action="">
    <input type="submit" name="search" value = "search"></input>
    <br>
    <br>

    <input type="submit" name = "buy" value="buy stock">
    <br>
    <br>
    <br>
    <input type="submit" name = "sell" value="sell stock">
    <br>
    <br>
    <br>
    <input type="submit" name = "register" value="register">
    <br>
    <br>
    <br>
    <input type="submit" name = "transactions" value="view stock transactions">
  </form>
</body>
</html>
