<!DOCTYPE html>
<html>
<body>
  {{ navbar | safe }}
  <title>User Stocks</title>
  <div>
    <center>
      <div>
        <br>
        <h1>User Stocks</h1>
        <br>
        <div>
          <table border = '3' style="width:60%">
            <tr>
              <th>Stock ID</th>
              <th>Stock Name</th>
              <th>Stock Price</th>
              <th># of Shares</th>
            </tr>
            {% for stock_id, stock_name, stock_price, stock_shares in data %}
            <tr>
              <th>{{stock_id}}</th>
              <th>{{stock_name}}</th>
              <th>{{stock_price}}</th>
              <th>{{stock_shares}}</th>
            </tr>
            {% endfor %}
          </table>
        </div>

        <hr style="width:95%;">
        <h1>Logged Transactions</h1>
        <br>
        <a href="/user_transactions"><button type="button" class="btn btn-success">User Transactions</button></a>
        <a href="/group_transactions"><button type="button" class="btn btn-danger">Group Transactions</button></a>
        <hr style="width:95%;">
    </div>
    </center>
  </div>
</body>
