<html>
<head>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
{{ navbar | safe }}

<br><br>
<center>
<h2>{{data[0]}} Insights</h2>
<table border = '3' style="width:25%"><tr>
  <tr>
    <td>Stock Price</td>
    <td>{{data[1]}}</td>
  </tr>
  <tr>
    <td>Stock Shares</td>
    <td>{{data[2]}}</td>
  </tr>
  <tr>
    <td>Watching</td>
    {% if data[3] %}
      <td>Yes <form style="margin-top: 15px;display: inline-block;" action="/watchlist" method="POST"><input type="submit" name="watch_input" value="Unwatch {{data[0]}}"/></form></td>
    {% else %}
      <td>No <form style="margin-top: 15px;display: inline-block;" action="/watchlist" method="POST"><input type="submit" name="watch_input" value="Watch {{data[0]}}"/></form></td>
    {% endif %}
  </tr>
</table>
<p style="margin-top: 10px; font-size: 11px"><i>All data is up to date</i></p>

<hr style="width:95%;">
<center><h2>{{data[0]}} Stock Trend</h2></center>

<div id="Stock1"></div>

</center>

<script>
  var layout1 = {
    title: '{{ data[0] }}',
    xaxis: {
      title: 'time (min)'
    },
    yaxis: {
      title: 'price (usd)'
    }
  };

  var stockGraph1 = {
    x: new Array(),
    y: {{ stock_history }},
    type: 'scatter'
  };

  for (var i = stockGraph1.y.length; i >= 0; i--) {
    stockGraph1.x.push("-" + i);
  }

  var data = [stockGraph1];

  Plotly.newPlot('Stock1', data, layout1);
</script>
</body>
</html>
