<html>

{{ navbar | safe }}

<center>
<br>
<h1>Available Stocks</h1>
<br>
<div>
  <table border = '3' style="width:25%">
  <tr>
    <td><center><b>Name</b></center></td>
    <td><center><b>Price</b></center></td>
    <td><center><b>Share</b></center></td>
    <td><center><b>Info</b></center></td>
  </tr>
  {% for name, price, share in stock_data %}
    <tr>
      <td><center>{{name}}</center></td>
      <td><center>{{price}}</center></td>
      <td><center>{{share}}</center></td>
      <td><center><button><a href = "/stocks/{{ name }}">View Info</a></button></center></td>
    </tr>
  {% endfor %}
  </table>
  <br>
</div>
</center>
</html>
