<!DOCTYPE html>
<html>
<head>
  <style>
    body, html {
      background-image: url('https://specials-images.forbesimg.com/imageserve/5f3a9bf8ea6250a0856f35b4/960x0.jpg?fit=scale');"

      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      height: 100%;

      overflow: hidden;
    }
  </style>
</head>
<body>
  {{ navbar | safe }}
  <title>Group Transaction History</title>
  <div>
    <center>
    <div style="background-color: #24c594; width: 30%; height: 800px;">
      <div>
        <br>
        <h1>Group Transactions</h1>
        <div>
          <table border = '3' style="width:60%">
            <tr>
              <th>Stock ID</th>
              <th>Stock Name</th>
              <th>Transaction Type</th>
              <th># of Stocks</th>
              <th>Price</th>
              <th>Total Money Spent</th>
              <th>Date</th>
            </tr>
            {% for stock_id, stock_name, transaction_type, amount, price, total_cost, date in data %}
            <tr>
              <th>{{stock_id}}</th>
              <th>{{stock_name}}</th>
              <th>{{transaction_type}}</th>
              <th>{{amount}}</th>
              <th>{{price}}</th>
              <th>{{total_cost}}</th>
              <th>{{date}}</th>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
    </center>
  </div>
</body>
