<!DOCTYPE html>
<html>
<head>
</head>
<body>
  {{ navbar | safe }}
  <title>Transaction History</title>
  <div>
    <center>
      <div>
        <br>
        <h1>User Transactions</h1>
        <div>
          {% for s_id, t_type, s_name, t_amount, total_cost in data %}
            <table border = '1'>
            <tr>
            <td>Number of stocks</td>
            <td>{{t_amount}}</td>
            </tr>

            <tr>
            <td>Stock ID</td>
            <td>{{s_id}}</td>
            </tr>

            <tr>
            <td>Transaction Type</td>
            <td>{{t_type}}</td>
            </tr>

            <tr>
            <td>Total Money Spent</td>
            <td>{{total_cost}}</td>
            </tr>

            </table>
            <br>

          {% endfor %}
        </div>
      </div>
    </center>
  </div>
</body>
