<!DOCTYPE html>
<html>
<head>
</head>
<body>
  {{ navbar | safe }}
  <title>User Watchlist</title>
  <div>
    <center>
        <br>
        <h1>User Watchlist</h1>
        <div>
          {% for stock_id, stock_name, stock_amount, stock_shares in data %}
            <table border = '1'>
            <tr>
            <td>Stock ID</td>
            <td>{{stock_id}}</td>
            </tr>

            <tr>
            <td>Stock Name</td>
            <td>{{stock_name}}</td>
            </tr>

            <tr>
            <td>Stock Amount</td>
            <td>{{stock_amount}}</td>
            </tr>

            <tr>
            <td>Stock Shares</td>
            <td>{{stock_shares}}</td>
            </tr>

            </table>
            <br>

          {% endfor %}
        </div>
      </div>
    </center>
  </div>
</body>
