<!DOCTYPE html>
<html>
<head>
</head>
<body>
  {{ navbar | safe }}
  <title>User Watchlist</title>
  <div>
    <center>
        <br>
        <h1>User Watchlist</h1>
        <div>
          <table border = '3' style="width:60%">
            <tr>
              <th>Stock ID</th>
              <th>Stock Name</th>
              <th>Stock Price</th>
              <th># of Shares</th>
              <th>Action</th>
            </tr>
            {% for stock_id, stock_name, stock_price, stock_shares in data %}
            <tr>
              <td>{{stock_id}}</td>
              <td>{{stock_name}}</td>
              <td>{{stock_price}}</td>
              <td>{{stock_shares}}</td>
              <td><form style="display: inline-block;" action="/watchlist" method="POST"><input type="submit" name="watch_input" value="Unwatch {{stock_name}}"/></form></td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </center>
  </div>
</body>
